<h1>Create New Dog</h1>
  <%= form_for @dog do |f| %> 
    Name: <%= f.text_field :name %> 
    Age: <%= f.number_field :age %>
    <%= f.submit %> 
  <% end %>


<p>Go to app/views/dogs/new.html.erb</p>
